{% extends 'about_navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/Learning-amico.png' %}" alt="">
    </div>

    <div class="content">
        <h3>All About Notes Sharing</h3>
        <p>"Study Note Sharing” is the project used for sharing notes using the website. Notes that the user wants for a particular subject can be found in the website. This project is written in Python Django. Firstly, the user needs to sign up and then, they can login to the system.</p>
        <p>Study Notes Sharing is a open source so that you can download and edit as per your needs.</p>

    </div>

</section>

{% endblock %}
