{% extends 'signup_navigation.html'%} 
{% load static %} 
{% block body %}

<br><br><br><br>

<section class="signup" id="signup">
	<h1 class="heading">User Signup Form</h1>

	<div class="row">
		<form method="post">

			{% csrf_token %}

			<input type="text" placeholder="Enter First Name" class="box" name="firstname" required>
			<input type="text" placeholder="Enter Last Name" class="box" name="lastname" required>
			<input type="number" placeholder="Enter Contact Number" class="box" name="contact" required>
			<input type="email" placeholder="Enter Email Address" class="box" name="emailid" required>
			<input type="password" placeholder="Password" class="box" name="password" required>

			<select name="branch" class="box" style="background-color: black">
				<option value="">--- Select Branch ---</option>
				<option value="Computer Science">Computer Science</option>
				<option value="Information Technology">Information Technology</option>
				<option value="Electronics and Communication">Electronics and Communication</option>
				<option value="Mechanical">Mechanical</option>
				<option value="Chemical">Chemical</option>
				<option value="Civil">Civil</option>
				<option value="Instrumentation and Control">Instrumentation and Control</option>
			</select>

			<select name="role" class="box" style="background-color: black">
				<option value="">--- Role ---</option>
				<option value="Student">Student</option>
				<option value="Teacher">Teacher</option>
			</select>

			<hr>

			<input type="submit" class="btn btn-primary mt-2" value="SUBMIT">
		</form>

		<div class="image">
			<img src="{% static 'images/Taking notes-amico.png' %}" alt="">
		</div>
	</div>
</section>

{% if error == 'yes' %}
	<script>
		alert('User Already Exist, Please Try Again');
	</script>
{% elif error == 'no' %}
	<script>
		alert('Signed Up Successfully');
		window.location=('{% url 'login' %}');
	</script>
{% endif %}

{% endblock %}
